@model Sips.ViewModels.MenuItemVM

<div class="tea-container">
    <h1>Slushes</h1>
    <div>
        <a href="@Url.Action("MilkTea", "Menu")">
            <h4>Milk Teas</h4>
        </a>
        <a href="@Url.Action("FruitTea1", "Menu")">
            <h4>Fruit Teas</h4>
        </a>
    </div>
</div>
<div class="tea-subtotal">

<div class="tea-subtotal">

    <p>Quantity: <span id="totalQuantity"> 0</span></p>
    <p>Subtotal: <span id="totalAmount"> 0</span></p>

</div>
</div>
<div class="tea-list">
    @foreach (var tea in Model.Items)
    {
        <div class="tea-item">
            <img src="~/images/boba-02.png" alt="@tea.Name" class="img-fluid">
            <div class="tea-copy">
                <h3>@tea.Name</h3>
                <p>@tea.Description</p>
                <p>Price: $@tea.BasePrice.ToString()</p>
                @*                 <button class="btn btn-secondary customize" data-toggle="modal" data-target="#customizeModal" data-price="@tea.BasePrice">Customize</button> *@
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="tea-btns">
                    <button class="btn btn-primary add-to-cart" id="addButton_@tea.ItemId" onclick="AddOne('@tea.ItemId', '@tea.BasePrice')">Add to Cart</button>
                    <button class="btn btn-secondary customize" data-bs-toggle="modal" data-bs-target="#customizeModal_@tea.ItemId" data-price="@tea.BasePrice">Customize</button>
                    <input type="hidden" id="itemPrice_@tea.ItemId" value="@tea.BasePrice" />
                </div>
            }
        </div>
        <!-- Modal -->
        <div class="modal fade" id="customizeModal_@tea.ItemId" tabindex="-1" role="dialog" aria-labelledby="customizeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="customizeModalLabel">Customize Your Drink</h5>
                        <button type="button" class="close" id="closeModal" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="image-container">
                            <img
                                src="data:image.jpeg;base64, @tea.Image"
                                >
                        </div>
                        <!-- Customization options -->
                        <div class="customization-options">
                            <!-- Ice Level Options -->
                            <div>
                                <h4>Ice Level:</h4>
                                <ul>
                                    @foreach (var option in Model.IceOptions)
                                    {
                                        <li>
                                            <label>
                                                <input type="radio" name="iceOptions_@tea.ItemId" value="@option.IceId" @(option.IcePercent == "Regular Ice" ? "checked" : "")>
                                                @option.IcePercent
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- Sweetness Level Options -->
                            <div>
                                <h4>Sweetness Level:</h4>
                                <ul>
                                    @foreach (var option in Model.SweetnessOptions)
                                    {
                                        <li>
                                            <label>
                                                <input type="radio" name="sweetnessOptions_@tea.ItemId" value="@option.SweetnessId" @(option.SweetnessPercent == "100% Sweet" ? "checked" : "")>
                                                @option.SweetnessPercent
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <!-- Milk Choice Options -->
                            
                            @if (tea.HasMilk)
                            {
                            <div>
                                <h4>Milk Choice:</h4>
                                <ul>
                                    @foreach (var option in Model.MilkOptions)
                                    {
                                        <li>
                                            <label>
                                                    <input type="radio" name="milkOptions_@tea.ItemId" value="@option.MilkChoiceId" onchange="AdjustPrice(@tea.BasePrice, @option.PriceModifier, @tea.ItemId, this)" @(option.MilkType == "Regular" ? "checked" : "")>
                                                @option.MilkType - $@option.PriceModifier
                                            </label>
                                        </li>
                                    }
                                </ul>
                                </div>
                            }
                            <!-- Addon Options -->
                            <div>
                                <h4>Add Ins:</h4>
                                <ul>
                                    @foreach (var option in Model.AddInOptions)
                                    {
                                        <li>
                                            <label>
                                                <input type="checkbox" name="addInOptions_@tea.ItemId" value="@option.AddInId" onchange="AddOnPrice('@option.PriceModifier', '@tea.ItemId', this)">
                                                @option.AddInName - $@option.PriceModifier
                                            </label>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <p>$<span id="modalPrice_@tea.ItemId">@tea.BasePrice</span></p>
                        <button type="button" class="btn btn-secondary" id="closeModalButton" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script>
        // Function to reset form elements inside the modal
        function resetModal(modalId) {
            // Reset radio buttons for ice level
            var iceOptions = document.querySelectorAll('#' + modalId + ' input[name^="iceOptions_"]');
            iceOptions.forEach(function (input) {
                input.checked = input.value === "3"; // Check if the value matches "Regular Ice"
            });
            // Reset radio buttons for sweetness level
            var sweetnessOptions = document.querySelectorAll('#' + modalId + ' input[name^="sweetnessOptions_"]');
            sweetnessOptions.forEach(function (input) {
                console.log(input)
                input.checked = input.value === "5"; // Check if the value matches "100% Sweet"
            });
            // Reset radio buttons for milk choice
            var milkOptions = document.querySelectorAll('#' + modalId + ' input[name^="milkOptions_"]');
            milkOptions.forEach(function (input) {
                console.log(input)
                input.checked = input.value === "1"; // Check if the value matches "Regular"
            });
            // Reset checkboxes for add-ins
            var addInOptions = document.querySelectorAll('#' + modalId + ' input[name^="addInOptions_"]');
            addInOptions.forEach(function (input) {
                input.checked = input.defaultChecked;
            });

        }

        // Get references to the modal and its close buttons
        var closeModalButtons = document.querySelectorAll('[data-bs-dismiss="modal"]');
        // Add event listener for modal close buttons
        closeModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                // Find the closest modal parent of the button
                var modal = button.closest('.modal');
                if (modal) {
                    var modalId = modal.getAttribute('id');
                    resetModal(modalId);
                }
            });
        });


        var totalQuantity = 0;
        var totalAmount = 0;

        function AddOne(id, price, currency) {
            var totalElement = document.getElementById('totalQuantity');
            var total = parseInt(totalElement.textContent);
            total += 1;
            totalElement.textContent = total;

            var itemPrice = parseFloat(price);
            var subTotal = total * itemPrice;
            document.getElementById('totalAmount').textContent = formatCurrency(subTotal, currency);

            // Update grand total
            totalQuantity += 1;
            totalAmount += itemPrice;

            // Display grand total
            document.getElementById('totalQuantity').textContent = totalQuantity;
            document.getElementById('totalAmount').textContent = formatCurrency(totalAmount, currency);
        }

        function formatCurrency(amount, currency) {
            return '$' + amount.toFixed(2) + 'CAD';
        }

        // function to handle milk price modifiers
        function AdjustPrice(price, priceModifier, id, checkbox) {
            var basePrice = document.getElementById("modalPrice_" + id);
            var price = parseFloat(basePrice.textContent);
            var newPrice = price - currentPriceModifier;
            newTotal = newPrice + parseFloat(priceModifier);
            basePrice.textContent = (newTotal).toFixed(2);
            currentPriceModifier = priceModifier;
        }

        // Keep track of the current price modifier
        var currentPriceModifier = 0;

        //function to handle add on price modifiers
        function AddOnPrice(priceModifier, id, checkbox) {
            console.log(checkbox.checked)
            // if checkbox is checked, add the price modifier to the total
            if (checkbox.checked) {
                var basePrice = document.getElementById('modalPrice_' + id);
                console.log(basePrice.textContent);
                var price = parseFloat(basePrice.textContent);
                console.log(price == 4.99);
                var newTotal = price + parseFloat(priceModifier);
                basePrice.textContent = (newTotal).toFixed(2)
            }
            // if checkbox is unchecked, subtract the price modifier from the total
            else {
                var basePrice = document.getElementById('modalPrice_' + id);
                var price = parseFloat(basePrice.textContent);
                var newTotal = price - parseFloat(priceModifier);
                basePrice.textContent = (newTotal).toFixed(2);
            }
        }
    </script>
}

<style>
    /* Customize modal appearance */
    .modal-content {
        border-radius: 20px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-footer {
        border-top: none;
    }

    .customization-options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

        .customization-options h4 {
            font-size: 16px;
            margin-top: 0;
        }

        .customization-options ul {
            list-style: none;
            padding: 0;
        }

        .customization-options label {
            font-size: 14px;
        }

        .customization-options input[type="checkbox"] {
            margin-right: 5px;
        }

    /* Customize close button */
    #closeModal {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 24px;
        color: #888;
        border: none;
        background: none;
        cursor: pointer;
    }
</style>